<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://cdn.pixabay.com/photo/2015/07/27/20/16/book-863418_960_720.jpg');">
  <div class="banner-content">
    <h1>Please Mind The Gap</h1>
    <p>Site en construction</p>
    <a class="btn btn-primary btn-lg" href="mailto:pleasemindthegap.org@gmail.com">Nous contacter</a>
  </div>
</div>
